//- this is a pug fie for the first page. The page where the user inserts information // name is important because this is what will be used in the app.js file, in the post request
//-  je moet linken naar de /secondpage, omdat je wilt dat hij daar naartoe linkt. Hij moet ons iets laten zien op de /secondpage
html
	head
		body
			nav
			div
				ul
					li
						a(href="/") This is the first page

					li

						a(href="/page2") This is the second page
			h1 This is a form, just testing
			block content

				.container

				h1 New post

				hr

				form(action="/page2" method="POST") 

					div(class="form-group")

						label(for="title") Title

						input(name="titlename" type="text" class="form-control" id="title")

					div(class="form-group")

						label(for="message-body") Body

						textarea(name="bodyname" class="form-control" rows=5 id="body")

					div(class="form-group text-xs-right")

						button(type="submit" class="btn btn-lg btn-success") submit